@page "/PointCalculator"
@using Microsoft.Extensions.Localization
@using global::WePing.PointCalculator.Localization
@inject IStringLocalizer<PointCalculatorResource> L
@{
}
<h1>PointCalculator</h1>
<p>@L["SamplePageMessage"]</p>