@page "/SmartPing"
@using Microsoft.Extensions.Localization
@using global::WePing.SmartPing.Localization
@inject IStringLocalizer<SmartPingResource> L
@{
}
<h1>SmartPing</h1>
<p>@L["SamplePageMessage"]</p>